.header {
    padding: 20px 0; 
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    width: 490px;
    list-style-type: none;
}
.header__logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}
.header__logo::after{
    content: 'it';
    display: inline;
    text-transform: uppercase;
    color:#EC7979;
}
.header-menu__item {
}

.header-nav__link {
}
.headermenuv__item {
}

.header-menu__link {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #ffffffb3; 
    padding: 0 0 5px 5px;
}
.header-menu__link{
    padding: 0 0 4px 4px;;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}
.header-menu__link:hover{
    border-color: #ffffffb3;
    transition: 0.5s all ease;
}

/* .header-nav__item {
    background-color: #000000;
    margin: 0;
    position: relative;
} */
/* !!!!!!!!!!!!!!!!!!!!! нухно исправить, т.к. поменялась верстка секции head и названия классов */
/* hover effect with the help of psudoelement and psudoclass */
/* .header-nav__link:first-child:before{
    content: '';
    display: inline;
    height: 0;
    width: 2px;
    margin-left: -5px;
    background-color: #ffffffb3;
    transition: 0.5s all ease;
    position: absolute;
    
}
.header-nav__link:first-child:after{
    content: ' ';
    display: block;
    height: 2px;
    width: 0;
    background-color: #ffffffb3;
    transition: 0.5s all;
} 
 
.header-nav__link:hover::after{
    width: 100%;
}
.header-nav__link:hover::before{
    height: 23px;
} */