
@import url("../css/header.css");
@import url("../css/social.css");
@import url("../css/awesome.css");
@import url("../css/price.css");
@import url("../css/customers.css");
@import url("../css/axure.css");
@import url("../css/animation.css");
@import url("../css/footer.css");
@import url("../css/first-screen.css");
@import url("../css/form.css");
@import url("../css/contact.css");
@import url("../css/tabs.css");



*{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.descr {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 19px;
  color: #86878B;
}

.title  {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 42px;
  text-transform: uppercase;
}

.title-20px {
  font-size: 1.25rem;
}

.btn-view__link{
  text-decoration: none;
  display: block;
  width: 135px;
  padding: 10px;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  border: 1px solid #FFFFFF;
  box-shadow: 3px 3px 20px transparant ;
  transition: 0.5s all;
}
.btn-view__link:hover{
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0,0,0,.8);
  border: 1px solid #000000;
  /* box-shadow: 3px 3px 20px 10px  rgba(75, 69, 69, 0.8); */
  /* opacity: 0.8; */
}

.form-item {
  width: 100%;
  font-family: Open Sans;
  font-weight: normal;
  font-size: 14px;
  color: #BDBDBD;

}
.label {
  display: block;
}
.form-item input, .form-item textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  outline: none;
}

.form-btn {
  font-size: 15px;
  font-weight: 600;
  color: #FFFFFF;
  border: none;
  background: #EC7979;
  transition: 0.5s all ease;
}
.form-btn:hover{
  background-color:#e63535;
}
/* drowing the burger */
.hamburger{
  display: none;
  position: relative;
  width: 30px;
  height: 20px;

}
.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 9px;
  transition: 0.5s all ease;
}
.hamburger:before,
.hamburger:after{
  content: '';
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: 0.5s all ease;
}
.hamburger:before{
  top: 0;
}
.hamburger:after{
  bottom: 0;
}


/* !!!!!!!ADAPTATION!!!!!!!! */
@media(min-width: 1201px){
  .price-item:hover {
    margin-top: -15px;
  }
  .first-screen{
    height: 100vh;
  }
}
@media(min-width: 767px){
  .header-menu__link:hover {
    border-color: #ffffffb3;
    transition: 0.5s all ease;
  }  
}
@media(max-width: 1200px ){
  .container {
    max-width: 960px;
  }
  .header {
    padding: 10px 0;
  }
  .first-screen {
    margin-top: 52px;
    padding: 80px 0;
  }
  .first-screen__info {
    max-width: 520px;
  }
  .social__contact {
    max-width: 500px;
  }
  .tabs{
    padding: 50px 0;
  }
  .tabs__content{
    max-width: 450px;
  }
  .tabs__link {
    margin-top: 75px;
  }
  .awesome {
    padding: 50px 0;
  }
  .awesome__row{
    margin-top: 20px;
  }
  .awesome-item:last-child{
    margin-top: 20px;
  } 
  .price {
    padding: 50px 0;
  }
  .price__row {
    margin-top: 30px;
    justify-content: space-around;
  }
  .price-item:last-child{
    margin-top: 30px;
  }
  .customers__row {
    justify-content: space-around;
  }
  .customers-item:last-child{
    margin-top: 40px;
  }
}

@media(max-width: 992px) {
  .container {
    max-width: 720px;
  }
  html{
    font-size: 15px;
  }
  .header__logo{
    font-size: 1.875rem;
  }
  .header-menu__link{
    font-size: 0.93rem
  }
  .first-screen{
    padding: 30px 0;
  }
  /* .first-screen__row{
    align-items: start;
  } */

  .first-screen__info {
    max-width: 50%;
  }
  #first-screen__form{
    max-width: 35%
  }
  .first-screen__logo {
    display: none;
  }
  .main__title{
    margin-top: 0;
    font-size: 30px;
  }
  .title:after{
    display: none;
  }
  .first-screen__descr{
    margin-top: 20px;
  }
  .form-content{
    padding: 10px 10px 20px 10px ;
  }
  .form-content__title{
    line-height: 18px;
    font-size: 18px;
  }
  .first-screen__form-btn{
    line-height: 45px;
  }

  .social__info {
    width: 32%;
  }
  .social__contact {
    width: 56%;
  }
  .tabs__img{
    display: none;
  }
  .tabs-left{
    width: 20%;
  }
  .tabs-right{
    width: 70%;
  }
  .tabs__content{
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .tabs__descr {
    text-align: center;
  }
  .awesome__row{
    margin-top: 0;
  }
  .awesome-item{
    margin-top: 20px;
    width: 330px;
  }
  .price__row{
    margin-top: 0;
  }
  .price-item{
    margin-top: 30px;
    width: 330px;
  }
}

@media(max-width: 768px) {
  /* scrall for content while menu from burger appied */
  body.lock{
    overflow: hidden;
  }
  html{
    font-size:14px;
  }
  .container{
    max-width: 540px;
  }
  .first-screen{
    margin-top: 50px;
    height: none;
  }

  .hamburger{
    display: block;
    z-index: 2;
   
  }
  .hamburger.active:before{
    transform: rotate(45deg);
    top: 9px;
  }
  .hamburger.active:after{
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .hamburger.active span{
    transform: scale(0);
  }
  .header-menu{
    position: fixed;
    top: 50px;
    left: -100%;
    width: 50%;
    height: 100%;
    background-color: #e63535;
    padding: 70px 10px 20px 10px ;
    display: block;
    transition: 0.5s all ease;
    overflow: auto;
  }
  .header__logo{
    z-index: 2;
  }
  .header-menu.active{
    left: 0;
    z-index: -3;
  }
  .header-menu__item{
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .header-menu__link{
    font-size: 20px;
  }
  .main__title{
    font-size: 25px;
    line-height: 30px;
  }
  .form-content__title, .form-btn{
    font-size: 13px;
  }
  .form-item{
    font-size:12px;
  }
  .social__descr{
    margin-top: 5px;
  }
  .awesome{
    padding: 25px 0;
  }
  .customers__row{
    margin-top: 0;
  }
  .customers-item{
    margin-top: 20px;
  }
  .contact__form-item textarea{
    height: 208px;
  }
  #contact-form {
    margin-top: 0;
    flex-wrap: wrap;
  }
  .contact-form__left, .contact-form__right{
    width: 100%;
    margin-top: 20px;
  }
  .contact__form-btn{
    margin-top: 20px;
  }
  .contact__form-item textarea{
    height: 160px;
  } 
}

@media(max-width: 576px) {
  html{
    font-size: 12px;
  }
  .container {
    max-width: 290px;
  }
  .header-menu{
    top: 45px;
  }
  
    .first-screen{
    margin-top: 44px;
    padding: 15px 0;
  }
  .first-screen__row{
    display: block;
  }
  .first-screen__info{
    max-width: 90%;
   }
   .main__title{
     text-align: center;
   }
   .first-screen__descr{
     text-align: center;
   }
   .btn-view__link{
     width: 80%;
   }
   .first-screen__link{
     margin: 0 auto;
     margin-top: 20px;
   }
  #first-screen__form{
    margin-top: 20px;
    max-width: 100%;
  }
  .form-content__title{
    text-align: center;
  }
  .social__info{
    display: none;
  }
  .social__contact{
    width: 100%;
  }
  .tabs{
    padding: 25px 0;
  }
  .tabs-left{
    width: 100%;
  }
  .tab-item{
    margin: 0 auto;
    margin-top: 15px;
  }
  .tabs-right{
    display: none;
  }
  .price-item__price{
    line-height: 40px;
    font-size: 30px;
  }
  .customers{
    padding: 40px 0;
  }
  .contact{
    padding: 25px 0;
  }
  .contact__descr {
    margin-top: 20px;
    text-align: center;
  } 
}
