.footer {
  padding: 29px 0;
  background-color:  #313454;
  &__text{
    width: 319px;
    margin: 0 auto;
    font-family: Raleway;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #808080;
  }
  &__link{
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid  transparent;
    transition: 0.5s all ease;
    &:hover{
      border-bottom: 1px solid #ffffff;
    }
  }
  .fa-heart {
    color: $red_color;
  }
}

