.works{
    background-color: lightblue;
}


.slick-slider{
    display: block;
    margin: 0 auto;
}

.slick-prev, .slick-next{
    background-color:  red;
    z-index: 5;
}

.slick-next {
    right: 25px;
} 
.slick-prev {
    left: 25px;
} 

