.slick-slider{
    width: 100%;
    position: relative;
    
}

.slick-initialized .slick-slide{
    display: flex;
    @media(max-width: 800px){
        display: block;
    }
}
.slick-track {
    width: 100 vh;

}    
.slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    right: 25%;
    transform: translateX(50%);
    @media(max-width: 951px){
        right: 30%;
    }
    @media(max-width: 800px){
        bottom: 3%;
        right: 50%;
    }
    button{
        margin-right: 8px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        font-size: 0;
        background-color: $grey_color;
        border: solid 1px $grey_color;
        cursor: pointer;
        &:hover{
            background-color: #494545;
        }

    }    
}
.slick-active{
    button {
        background-color: #ffffff;
    }    
}

