$white_color: #ffffff;
$white_with_opacity: rgba(255, 255, 255, 0.75);;
$grey_color: #6c7279;
$red_color: #e84545;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}



.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}


@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');


@import'./button.scss';
@import'./header.scss';
@import'./features.scss';
@import'./firstscreen.scss';
// @import'./works_grid.scss';
@import'./works_flex.scss';
@import'./slider.scss';
@import'./team.scss';
@import'./feedback.scss';