$white_color: #ffffff;
$white_with_opacity: rgba(255, 255, 255, 0.75);;
$grey_color: #6c7279;
$red_color: #e84545;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
@import'./button.scss';
@import'./header.scss';
@import'./features.scss';
@import'./firstscreen.scss';
@import'./works.scss';
// @import'./slider.scss';