.team {
    padding: 101px 0 0 0;
    @media (max-width: 1200px ){
        padding: 71px 0 0 0;
    @media (max-width: 860px ){
        padding: 30px 0 0 0;
    }
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        padding: 0 -15px;
        
        @media (max-width: 600px ){
            justify-content: center;
        }
    }
    &-item{
        width: 25%;
        padding: 0 15px;
        margin-bottom: 70px;
        @media (max-width: 1000px ){
            width: 50%;
        }

        @media (max-width: 600px ){
            width: 80%;
        }
        &__img{
            display: block;
            max-width: 100%;
            height: auto;
            position: relative;
            @media (max-width: 1000px ){
                margin: 0 auto;
            }
            @media (max-width: 600px ){
                border-radius: 50%;
            }

        }
        &__name{
            margin-top: 30px;
            font-family: Raleway;
            font-size: 22px;
            font-weight: normal;
            color: #2d3033;
            @media (max-width: 1200px ){
                text-align: center;
            }
        }
        &__position {
            margin-top: 16px;
            font-family: Raleway;
            font-size: 13px;
            color: $red_color;
            @media (max-width: 1200px ){
                text-align: center;
            }
        }
        &__descr{
            margin-top: 29px;
            font-family: Raleway;
            font-size: 14px;
            color: $grey_color;
            @media (max-width: 1200px ){
                text-align: center;
            }
            @media (max-width: 620px ){
                display: none;
            }
        }
        &__social{
            margin-top: 31px;
            display: flex;
            justify-content: flex-start;
            list-style: none;
            @media (max-width: 1200px ){
                justify-content: space-evenly;
            }
            li {
                border: 1px solid #e8ecee;
                margin-right: 4px;
                a{
                    font-size: 16px;
                    color: $grey_color;
                }
            }
        }    
    }
}
.social{
    li{
        display: block;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s all ease;
        &:hover{
            background-color: #292D4C;
            opacity: 0.95;
            a {
                color: $red_color;
            }
        }
        
    }
}


