.team {
    padding: 101px 0;
    @media (max-width: 1200px ){
        padding: 71px 0;
    @media (max-width: 860px ){
        padding: 30px 0;
    }
    }
    &__row{
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;
        @media (max-width: 1200px ){
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    &-item{
        width: 25%;
        margin: 0 15px;
        @media (max-width: 1200px ){
            margin: 30px 65px 0 65px;
        }
        @media (max-width: 860px ){
            width: 50%;
            margin: 30px 15px 0 15px;
        }
        @media (max-width: 550px ){
            width: 80%;
            margin: 30px 20px 0 20px;
        }

        &__img{
            width: 100%;
            height: 270px;
            position: relative;
            @media (max-width: 550px ){
                height: 270px;
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: none;
            }
        }
        &__name{
            margin-top: 30px;
            font-family: Raleway;
            font-size: 22px;
            font-weight: normal;
            color: #2d3033;
            @media (max-width: 1200px ){
                text-align: center;
            }
        }
        &__position {
            margin-top: 16px;
            font-family: Raleway;
            font-size: 13px;
            color: $red_color;
            @media (max-width: 1200px ){
                text-align: center;
            }
        }
        &__descr{
            margin-top: 29px;
            font-family: Raleway;
            font-size: 14px;
            color: $grey_color;
            @media (max-width: 1200px ){
                text-align: center;
            }
            @media (max-width: 620px ){
                display: none;
            }
        }
        &__social{
            margin-top: 31px;
            display: flex;
            justify-content: flex-start;
            list-style: none;
            @media (max-width: 1200px ){
                justify-content: space-evenly;
            }
            li {
                border: 1px solid #e8ecee;
                margin-right: 4px;
                a{
                    font-size: 16px;
                    color: $grey_color;
                }
            }
        }    
    }
}
.social{
    li{
        display: block;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s all ease;
        &:hover{
            background-color: #292D4C;
            opacity: 0.95;
            a {
                color: $red_color;
            }
        }
        
    }
}


